n8n/gemini_workflow_v2.json
{
    "name": "Toxiro AI Agent (RAG + Memory) [v2.x Fixed]",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                240
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.chatInput }}",
                "options": {
                    "systemMessage": "Eres el Asistente Experto de **Toxiro Digital**. \n\n**Voz de Marca:** Profesional, directo, tecnológico y persuasivo. \n\n**Reglas Críticas:**\n1. Responde SIEMPRE en formato Markdown para que el chat se vea bien (usa negritas y listas).\n2. NO uses saludos genéricos como 'Estimado cliente'. Ve directo al grano.\n3. Si usas la base de conocimientos, resume la información de forma amigable.\n4. Al final de respuestas sobre servicios, invita sutilmente a agendar en: https://cal.com/toxirodigital"
                }
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                500,
                240
            ],
            "retryOnFail": true,
            "maxRetries": 5,
            "waitBetweenRetries": 10000
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-pro",
                "options": {}
            },
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                450
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini account"
                }
            },
            "retryOnFail": true,
            "maxRetries": 5,
            "waitBetweenRetries": 10000
        },
        {
            "parameters": {
                "mode": "retrieve",
                "qdrantCollection": {
                    "__rl": true,
                    "value": "toxiro_knowledge",
                    "mode": "list"
                },
                "options": {}
            },
            "name": "Qdrant Knowledge Search",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1.3,
            "position": [
                660,
                660
            ],
            "credentials": {
                "qdrantApi": {
                    "id": "YOUR_QDRANT_CREDENTIAL_ID",
                    "name": "Qdrant account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.sessionId }}",
                "options": {}
            },
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                550,
                550
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Google Gemini Embeddings",
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                760,
                780
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini account"
                }
            }
        },
        {
            "parameters": {
                "name": "toxiro_knowledge_tool",
                "description": "Busca información oficial sobre los servicios, precios y enlaces de Toxiro Digital."
            },
            "name": "Qdrant Tool",
            "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
            "typeVersion": 1.1,
            "position": [
                700,
                450
            ],
            "retryOnFail": true,
            "maxRetries": 3,
            "waitBetweenRetries": 5000
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                850,
                240
            ]
        },
        {
            "parameters": {
                "jsCode": "let rawData = $json.body;\nlet chatInput = 'Hola';\nlet sessionId = $execution.id;\n\n// Si viene como string (text/plain), intentamos parsearlo\nif (typeof rawData === 'string') {\n  try {\n    let parsed = JSON.parse(rawData);\n    chatInput = parsed.chatInput || parsed.message || rawData;\n    sessionId = parsed.sessionId || sessionId;\n  } catch (e) {\n    chatInput = rawData;\n  }\n} else if (typeof rawData === 'object') {\n  chatInput = rawData.chatInput || rawData.message || 'Hola';\n  sessionId = rawData.sessionId || sessionId;\n}\n\nreturn {\n  chatInput,\n  sessionId\n};"
            },
            "name": "Clean Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                350,
                240
            ],
            "id": "clean-input-id"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Clean Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean Input": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Qdrant Tool",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Qdrant Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Qdrant Knowledge Search": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Qdrant Tool",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "Qdrant Knowledge Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}